@charset "utf-8";

*{-webkit-text-size-adjust:none;}/* 가로방향 회전시 화면확대 방지*/


body{
	font-family:'Noto Sans CJK KR','맑은 고딕', sans-serif;
	font-size: 12px;
	color: #707070;

	}

a{text-decoration: none; color: #707070;}
a:hover{text-decoration: underline;}

header,footer{
	width: 100%;
	
}

/* 체크박스 숨기기 */
#toggle{display:none;}

	.swiper-container{
			width:100%;
				}
